In [1]:
import numpy as np
import pandas as pd

D:\ANACONDA\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Set maximum number of rows, columns, and output width for pandas
pd.set_option('display.max_rows', 6)
pd.set_option('display.max_columns', 999)
pd.set_option('display.max_colwidth', 50)

In [4]:
# Read the ETFPrices data from a CSV file
ETFPrices = pd.read_csv(BOTZ.csv')
ETFPrices

,Code,Name,Date,Open,High,Low,Close,Volumn
0,BOTZ,Global X Robotics & Artificial Intelligence ETF,2016/9/13,14.288,14.288,14.288,14.288,334.0
1,BOTZ,Global X Robotics & Artificial Intelligence ETF,2016/9/19,14.346,14.375,14.336,14.365,651.0
2,BOTZ,Global X Robotics & Artificial Intelligence ETF,2016/9/20,14.491,14.491,14.491,14.491,261.0
...,...,...,...,...,...,...,...,...
1911,BOTZ,Global X Robotics & Artificial Intelligence ETF,2024/4/24,29.820,29.910,29.404,29.560,675028.0
1912,BOTZ,Global X Robotics & Artificial Intelligence ETF,2024/4/25,28.950,29.407,28.910,29.340,635902.0
1913,BOTZ,Global X Robotics & Artificial Intelligence ETF,2024/4/26,29.710,30.145,29.710,30.080,990880.0

In [5]:
# Drop the 'Code' and 'Name' columns from the DataFrame
ETFPrices.drop(['Code', 'Name', 'Volumn'], axis=1, inplace=True)
ETFPrices

           Date    Open    High     Low   Close
0     2016/9/13  14.288  14.288  14.288  14.288
1     2016/9/19  14.346  14.375  14.336  14.365
2     2016/9/20  14.491  14.491  14.491  14.491
...         ...     ...     ...     ...     ...
1911  2024/4/24  29.820  29.910  29.404  29.560
1912  2024/4/25  28.950  29.407  28.910  29.340
1913  2024/4/26  29.710  30.145  29.710  30.080

[1914 rows x 5 columns]

In [6]:
ETFPrices.describe()

              Open         High          Low        Close
count  1914.000000  1914.000000  1914.000000  1914.000000
mean     24.109557    24.265849    23.912421    24.099361
std       5.987391     6.028127     5.926027     5.980890
...            ...          ...          ...          ...
50%      22.734000    22.874500    22.592000    22.753000
75%      28.212250    28.448750    27.890000    28.180250
max      39.801000    39.821000    39.383000    39.662000

[8 rows x 4 columns]

In [7]:
ETFPrices.to_csv('adjusted_ETFPrice.csv')